audioread
click
colorama
einops
numpy
opencv-python
packaging
pillow
PyAudio
pydobot~=1.3.2
pyit2fls
pyrealsense2
PyQt5
PyQt5-stubs
pyserial~=3.4
requests
scipy==1.13.1
supervision
timm
torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1
transformers
ultralytics
wheel
