#git+https://github.com/mezbaul-h/june.git
#pyrealsense2==2.55.1.6486

#accelerate==0.30.1
#bandit[toml]==1.7.5
bitsandbytes==0.43.1
#black[jupyter]==23.3.0
click==8.1.7
#coverage==7.2.3
einops==0.8.0
git+https://github.com/Dao-AILab/flash-attention.git
#isort[colors]==5.12.0
#langchain
matplotlib==3.8.2
mediapipe==0.10.9
#mypy==1.2.0
numpy==1.26.2
#openai-whisper==20231117
opencv-python==4.10.0.84
pandas==2.2.0
#protobuf
PyAudio==0.2.14
#pylint==2.17.2
pyrealsense2==2.54.2.5684
scikit-learn==1.4.0
scipy==1.13.1
#sentencepiece
timm==1.0.7
torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1
transformers==4.42.3
#TTS==0.22.0
ultralytics==8.1.3
wheel==0.43.0
